/* Basic CSS for HTML Notes */
body {

    font-family: Arial, sans-serif;
    /* Available CSS Fonts:
    Serif fonts: Times New Roman, Georgia, Times, serif
    Sans-serif fonts: Arial, Helvetica, Verdana, Tahoma, Geneva, sans-serif
    Monospace fonts: Courier New, Courier, monospace, Consolas, Monaco
    Cursive fonts: Brush Script MT, Lucida Handwriting, cursive
    Fantasy fonts: Impact, Papyrus, fantasy
    Generic families: serif, sans-serif, monospace, cursive, fantasy
    */
    line-height: 1.6;
    margin: 20px;
    background-color: #ffffff;
}

.left-align {
    text-align: left;
}

.column-2 {
    display: flex;
}

.header {
    padding: 50px;
    text-align: center;
    background: #5d10c9;
    color: white;
    font-size: 30px;
    border: 3px solid black;
}

.welcome {
    color: #ffffff;
    font-family: "Papyrus", fantasy;
    flex: 1;
}

.tags {
    color: #27AE60;
    font-family: "Geneva", sans-serif;
}

h1, h2 {
    color: #000000;
    text-align: center;
    font-family: "Consolas", monospace;
}


p {
    margin-bottom: 15px;
    text-indent: 20px;
    font-family: "Geneva", sans-serif;
}

img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: "Geneva", sans-serif;
}

table {
    font-family: "Geneva", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

